<!DOCTYPE html>
<html>
<head>
  <title>{{ subject }}</title>
</head>
<body>
  <h2>{{ subject }}</h2>
  <p><b>Bonjour,</b></p>
  <p>{{ message }}</p>
  <p>{{ message_lien }}<a href="{{url}}">Cliquez ici</a></p>
  <p>Merci</p>
</body>
</html>